<div class="w-110 mx-auto rounded-lg shadow-md -mt-3 bg-white border-bottom-red flex container" style="position: fixed; left: 33%; top: 40%;">
  <div class="w-2/3 bg-grey-campaign bg-white rounded-tl-lg p-10">
    <p>Thank you for the good times!</p>
    <p>You just cancelled your recurring donation</p>
    <h3>Organization</h3>
    <p>Campaign name</p>

  </div>
  <div class="w-1/3">
    <img src="/img/Cancellation_confirm.svg" class="w-goodbye -mt-3.5 rounded-tr-lg" />
  </div>
</div>
