  <section class="-mt-30 flex-grow">
    <div class="flex flex-wrap w-4/5 mx-auto">
      <h1 class="ml-8 -mt-8 text-white text-xl font-light">My Payment Methods</h1>
    </div>
    <div class="relative w-3/5 mx-auto mx-auto">
      <img class="absolute pin-r pin-t w-64 z-20 -mt-20 mr-8" src="/img/Donor_CreditCard.png" />
    </div>

    <section class=" w-3/5 mx-auto text-sm pt-8 pb-8 mt-8">
      <div class="w-full pl-8 flex flex-wrap">
        <div class="">
          <p class='text-lg text-white capitalize'>Add a new Payment Method</p>
        </div>
        <div class="mb-4 w-1/2">
          <div class="font-bold text-purple history-dropdown float-right">
          </div>
        </div>
      </div>
    </section>

  {{new-card-form onsubmit=(action "saveVaultCard") onCancel=(action "onCancel") card=model}}
</section>


  <section class="flex flex-wrap w-3/5 mx-auto text-sm pt-8 pb-8 container">
    <div class="w-1/3 text-grey-dark border-grey-light border-solid border-t text-purple-footer py-8">
      <p><span class='font-bold'>©2019 Davos.gives</span> - All rights reserved.</p>
    </div>
    <div class="w-1/3 text-grey-dark text-center border-grey-light border-solid border-t py-7 -py-1">
      <img src="/img/Davos_slogan.svg" class="w-40"/>
    </div>

    <div class="w-1/3 text-right flex text-grey-dark border-grey-light border-solid border-t py-8 text-xs">
      <p class="w-1/3">
        Terms of Use
      </p>
      <p class="w-1/3">
        Privacy Policy
      </p>
      <p class="w-1/3">
        Cookie Policy
      </p>
    </div>
    <div class="w-1/4">
    </div>
  </section>
