.btn-blue {
  @apply .bg-blue .text-white .font-bold .py-2 .px-4 .rounded;
}
.btn-blue:hover {
  @apply .bg-blue-dark;
}

.purple-header {
  background: no-repeat;
  background-image: url('/img/Dashboard_BG.svg');
}

.no-logo {
   background-image: url('/img/inactive_org_no_logo.svg');
   background-size: cover;
}

.ember-power-select-status-icon {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url('/img/icons/ChevronDown.svg');
  background-size: cover;
  border: none;
}

.ember-power-select-trigger {
  border-bottom: none;
}

.ember-power-select-selected-item {
  margin-right: 20px;
}

.ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-selected-item {
  color: #E5AD23;
  font-style:italic;
}

.history-dropdown .ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-selected-item {
  color: rgb(109, 62, 255);
  font-style:normal;
}

.ember-power-select-trigger:focus, .ember-power-select-trigger--active {
  border-bottom: none;
}

.ember-basic-dropdown-trigger[aria-expanded="true"] {
    border-bottom: 1px solid #E5AD23!important;
}

.logout.ember-basic-dropdown-trigger[aria-expanded="true"] {
    border: none!important;
}

.logout button:focus {
  outline: none;
}

.history-dropdown .ember-basic-dropdown-trigger[aria-expanded="true"] {
  border-bottom: none!important;
}

.ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-status-icon {
  background-image: url('/img/icons/ChevronDownYellow.svg');
}

.text-yellow .ember-power-select-status-icon {
  background-image: url('/img/icons/ChevronDownYellow.svg');
}

.history-dropdown .ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-status-icon {
  background-image: url('/img/icons/ChevronDownPurple.svg');
}

.history-dropdown .ember-power-select-status-icon {
  background-image: url('/img/icons/ChevronDownPurple.svg');
}

.ember-power-select-option[aria-current="true"] {
  background-color: #fff;
}

.ember-power-select-options li:nth-child(even) {
  background-color: #EEF0F1!important;
}

.ember-power-select-options {
  color: #6E52C5;
}

.ember-power-select-options li {
  color: #6E52C5;
  text-align: center;
}

.ember-power-select-options li:hover{
  color: #6E52C5;
}

.ember-power-select-option[aria-selected="true"] {
    background: none;
    color: none;
}

.ember-power-select-search-input {
  background-color: #6E52C5;
  color: #fff;
  padding: 8px;
  font-weight: bold;
  text-align: center;
}

.ember-power-select-search {
  padding: 0px;
}

.amount-dropdown, .frequency-dropdown {
  width: 100px!important;
  margin-left:13px;
}

.history-dropdown {
  width: 75px!important;
  margin-left: 13px;
}

.history-dropdown .ember-power-select-selected-item {
  margin-right: 0px;
}

.frequency .ember-power-select-trigger, .card .ember-power-select-trigger {
  padding-bottom: 13px;
}

.frequency .ember-power-select-status-icon, .card .ember-power-select-status-icon {
  margin-top: 15px;
}

.editing-overlay {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(41,35,53,0.91);
   z-index: 10;
}

.cancel-overlay {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(41,35,53,100);
   z-index: 30;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.border-bottom-green {
  border-bottom: 7px solid #36C972;
  margin-bottom: 0px!important;
}
.border-left-green {
  border-left: 7px solid #36C972;
  margin-left: 0px!important;
}

.border-bottom-red {
  border-bottom: 7px solid #BE1E2D;
  margin-bottom: 0px!important;
}

.mb-7px {
  margin-bottom: 7px;
}

.z-40 {
  z-index: 40;
}

.bg-new-chairs-for-the-emergency-waiting-room {
  background-color: #BE1E2D;
  background-image: url('/img/Active_donation_bg3.svg');
  background-size: cover;
}


.bg-10-new-beds-for-the-maternity-ward {
  background-color: #DBA41C;
  background-image: url('/img/Active_donation_bg2.svg');
  background-size: cover;
}

.left-icon {
  background-color: #F0F0F0;
}

.icon-home {
  background-image: url('/img/icons/Home.svg');
  background-repeat: no-repeat;
}

.active .icon-home {
  background-image: url('/img/icons/HomePurple.svg');
  background-repeat: no-repeat;
}

.icon-account {
  background-image: url('/img/icons/account.svg');
  background-repeat: no-repeat;
}

.active .icon-account {
  background-image: url('/img/icons/account-purple.svg');
  background-repeat: no-repeat;
}

.active .left-icon {
  background-color: #6D3EFF;
}

.menu {
  color: #86828e;
}

.active.menu {
  color: #6D3EFF!important;
  font-weight: 700;
}



.history-dropdown .ember-power-select-option[aria-current="true"] {
    font-weight: bold;
    color: #6E52C5;
}

.ember-basic-dropdown-trigger[aria-expanded="true"] {
  border-radius: 15px;
}

.history-dropdown .ember-power-select-trigger:focus, .history-dropdown .ember-power-select-trigger--active {
    border-top: 1px solid #6d3eff;
    border-bottom: 1px solid #6d3eff;
    border-right: 1px solid #6d3eff;
    border-left: 1px solid #6d3eff;
    box-shadow: none;
}

.history-dropdown .ember-power-select-dropdown, .history-dropdown .ember-power-select-trigger, #ember-power-select-options-ember480 {
    border:  1px solid #6d3eff!important;
    border-bottom: 1px solid #6d3eff!important;
    border-right:  1px solid #6d3eff!important;
    border-left:  1px solid #6d3eff!important;
}
