<div class="w-1/7 bg-white min-h-screen">
  <div class="logo text-center py-8 font-bold">
    <img src="/img/Davos_logo_fullcolour.svg" class="w-32" alt="Davos">
  </div>
  <div class="menu text-left pt-1">
    <ul class="list-reset">
      <li class="py-2 pl-1">
        {{#link-to "index" class="menu no-underline font-light"}}
          <span class="left-icon rounded-full h-3 w-3 flex items-center justify-center float-left -ml-3 mt-1"></span>
          <div class="w-48 m-auto pl-8">
            <span class="icon-home w-4 h-4 inline-block mr-6"></span>
            Donations
          </div>
        {{/link-to}}
      </li>
      <li class="py-2 pl-1">
        {{#link-to "account" class="menu no-underline font-light"}}
          <span class="left-icon rounded-full h-3 w-3 flex items-center justify-center float-left -ml-3 mt-1"></span>
          <div class="w-48 m-auto pl-8">
            <span class="icon-account w-4 h-4 inline-block mr-6"></span>
            Account
          </div>
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>

<div class="w-6/7 min-h-screen flex flex-col bg-grey-lightest">
  <section class="bg-purple-gradient h-100">
    <div class="w-4/5 m-auto flex px-8 container">

      <div class="flex-1 pt-6">
        {{#link-to "index" class="no-underline"}}
          <img src="/img/icons/ChevronWhite.svg" class="w-2 rotate-90 align-middle mr-1" alt="back"> <img src="/img/icons/HomeWhite.svg" class="w-4 align-middle" alt="home">
        {{/link-to}}
      </div>

      <div class="text-right">
        <nav class="flex items-center justify-between flex-wrap p-6">
          <div class="w-full block flex-grow text-white">
            <div>
              <button class="inline-block mr-6 text-white no-underline align-middle">
                <img src="/img/icons/Bell.svg" class="w-4 align-middle" alt="notifications">
              </button>
              {{#link-to "account" class="inline-block mr-1 no-underline"}}
                <img src="/img/icons/account-white.svg" class="w-4 align-middle" alt="account">
              {{/link-to}}
              {{#basic-dropdown as |dropdown|}}
                {{#dropdown.trigger class="inline-block ml-2 logout"}}
                  <button class="inline-block no-underline text-white font-semibold text-sm align-middle capitalize focus:outline-none active:outline-none">
                    {{currentDonor.donor.fname}} {{currentDonor.donor.lname}}
                  </button>{{/dropdown.trigger}}
                {{#dropdown.content class="px-4 py-1 rounded w-32 mt-2"}}
                  <a href="" class="no-underline text-sm text-purple-darkest" onclick={{action "logout"}}>Logout</a>
                {{/dropdown.content}}
              {{/basic-dropdown}}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>
  {{outlet}}
</div>
