<!-- Two columns -->
<div class="flex mx-auto font-sans">
  <div class="w-1/7 bg-grey-lightest h-100 min-h-screen">
    <div class="logo text-center py-8 font-bold text-purple-darkest">
      <img src="/img/davos_logo.svg" class="w-32"/>
    </div>
    <div class="menu text-left pt-1">
      <ul class="list-reset">
        <li class="py-2 pl-1">
          {{#link-to "index" class="no-underline text-purple font-bold"}}
            <span class="rounded-full h-8 w-8 flex items-center justify-center bg-purple float-left -ml-5 -mt-2"></span>
            <div class="w-48 m-auto pl-8">
              <span class="w-4 text-center pr-6 text-sm">
                <img src="/img/icons/home.svg" class="w-4"/>
              </span>
              Donations
            </div>
          {{/link-to}}
        </li>
        <li class="py-2 text-grey-menu font-light w-48 m-auto pl-8">
          <span class="w-4 text-center pr-6 text-sm"><img src="/img/icons/account.svg" class="w-4"/></span>
          Account
        </li>
        <li class="py-2 pl-1 text-grey-menu font-light w-48 m-auto pl-8">
          <span class="w-4 text-center pr-6 text-sm"><img src="/img/icons/receipts.svg" class="w-4"/> </span>
          Receipts
        </li>
        <li class="py-2 pl-1 text-grey-menu font-light w-48 m-auto pl-8">
          <span class="w-4 text-center pr-6 text-sm">  <img src="/img/icons/discover.svg" class="w-4"/> </span>
          Discover
        </li>
      </ul>
    </div>
  </div>
  {{outlet}}
</div>
