<div class="w-full py-8 bg-grey-background flex flex-col">
  <div class="flex justify-between px-8 mx-8 container mx-auto">
    <div>
      <img src="/img/Davos_logo_fullcolour.svg" class="w-32">
    </div>
    <div>
      <button class="rounded-full bg-purple-buttons text-white font-thin py-2 px-4 rounded-full mr-4">Create Account</button>
    </div>
  </div>
  <div class="flex justify-center flex-grow items-center">
    <div class="shadow p-8 rounded-lg flex justify-center flex-col w-1/4 bg-white">
      <h1 class="w-1/2 text-center pb-4 font-normal mx-auto py-8">Log in</h1>
      <div class="w-1/2 bg-purple h-6px rounded-lg mx-auto mb-8">
      </div>
      {{login-form donor=model errors=errors onsubmit=(action "login")}}
    </div>
  </div>
</div>
