<div class="w-full py-8 bg-grey-background flex flex-col">
  <div class="flex justify-around px-8 mx-8 w-full mx-auto">
    <div>
    </div>
    <div>
    </div>
  </div>
  <div class="flex justify-center flex-grow items-center">
    <img src="/img/LoginA.png" class="w-1/4 -mr-8" alt="illustration left">
    <div class="shadow p-14 rounded-lg flex justify-center flex-col w-1/3 bg-white z-20">
      {{#link-to "login" class="self-center"}}<img src="/img/Davos_logo_fullcolour.svg" class="w-48 mt-8" alt="davos">{{/link-to}}
      <div class="w-1/3 bg-purple h-6px rounded-lg mx-auto mt-8">
      </div>
      <h1 class="w-2/3 text-center pb-4 font-normal mx-auto py-8 text-purple-darkest">Request password reset</h1>
      {{request-password-form donor=model errors=errors onsubmit=(action "requestPassword") hasError=hasError}}
    </div>
    <img src="/img/LoginB.png" class="w-1/4 -ml-6" alt="illustration right">
  </div>
</div>
